body {
	&.single-post {
		.blog-title .page-title {
			font-size: 24px;
			line-height: 1.6;
			@media #{$md}{
				font-size: 28px;
			}
			@media #{$lg}{
				font-size: 32px;
			}
		}
	}
}

.blog-wrapper{
	padding: 32px 0 0;
	@media #{$md}{
		padding: 48px 0 0;
	}
}

.blog-title {
	.page-title {
		font-size: 32px;
		font-weight: bold;
		font-family: 'montserrat';
		margin: 0 0 16px;
		@media #{$lg}{
			font-size: 40px;
		}
	}
	p {
		font-size: 14px;
		line-height: 1.5;
		margin: 0;
		color: $coal;
		@media #{$sm}{
			font-size: 16px;
		}
		@media #{$lg}{
			font-size: 20px;
		}
	}
	.meta-date {
		@media #{$md}{
			margin-right: 32px;
		}
	}
	.meta-category,
	.meta-date {
		display: block;
		margin: 0 0 8px 0;
		@media #{$md}{
			display: inline-block;
			margin: 0 16px 0 0;
		}
		img {
			position: relative;
			top: -2px;
			width: 24px;
			height: 24px;
			margin-right: 4px;
			@media #{$md}{
				margin-right: 8px;
				width: 32px;
				height: 32px;
			}
		}
	}
}

.blog-content{
	margin: 32px auto;
}

.blog-filter-bar {
	margin: 0 0 24px;
	@media #{$md}{
		margin: 0 0 48px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			margin: 0 4px 8px 0;
			@media #{$md}{
				margin: 0 16px 16px 0;
			}
			a {
				display: block;
				border-radius: 4px;
				background-color: $bd;
				padding: 7px 16px 4px;
				color: $coal;
				font-size: 14px;
				transition: all .2s linear;
				@media #{$md}{
					padding: 7px 32px 4px;
					font-size: 18px;
				}
				&:hover {
					background-color: $white;
					transform: translateY(-2px);
					transition: all .2s linear;
					box-shadow: 0 8px 16px -2px rgba(0,0,0,0.1);
				}
			}
			&.active {
				a {
					color: $white;
					background-color: $blue;
				}
			}
		}
	}
}

.grid-item {
	padding-left: 8px;
	padding-right: 8px;
	@media #{$lg}{
		padding-left: 15px;
		padding-right: 15px;
	}
}

.flat-card {
	margin: 0 0 12px;
	@media #{$md}{
		margin: 0 0 24px;
	}
	a, img {
		display: block;
	}	
	img {
		border-radius: 4px;
		transition: all .2s linear;
		border: 1px solid $bd;
		@media #{$md}{
			box-shadow: 0 2px 4px rgba(0,0,0,0.1);
		}
		&:hover {
			border: 1px solid transparent;
			transform: translateY(-2px);
			transition: all .2s linear;
			box-shadow: 0 8px 16px 0px rgba(0,0,0,0.1);
		}
	}
	._content {
		padding: 8px 0 4px;
		@media #{$md}{
			padding: 16px 8px 8px;
		}
		p {
			font-size: 14px;
			line-height: 1.5;
			@media #{$lg}{
				font-size: 16px;
			}
		}
		a {
			color: $black;
			&:hover {
				color: $blue;
			}
		}
	}
}

.widget-area {
	.sidebar-widget {
		margin: 0 0 32px;
	}	
	.widget-title {
		font-size: 24px;
		margin: 0 0 24px;
	}
}

.widget_recent_entries {
	border: 1px solid $soft-grey;
	padding: 24px;
	border-radius: 4px;
	box-shadow: 0 4px 0 0 rgba(0,0,0,0.1);
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: block;
			margin: 0 0 8px;
			a {
				line-height: 1.5;
				font-size: 14px;
				color: $blue;
			}
		}
	}
}

.related-block {
	margin: 40px auto 0;
	h3 {
		margin: 0 auto 16px;
	}
}