.entry-content {
	p {
		font-size: 16px;
		color: $black;
		line-height: 1.5;
	}
	ul, ol {
		color: $black;
		margin: 8px 0 16px;
		li {
			font-size: 16px;
			line-height: 1.5;
			margin: 0 0 4px;
		}
	}
	a {
		color: $orange;
		&:hover {
			color: darken($orange, 20%);
		}
	}
	img {
		display: block;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 24px;
    margin-bottom: 24px;
	}
	h1,h2,h3,h4,h5,h6 {
		margin: 32px 0 16px;
		line-height: 1.6;
		&:first-child {
			margin-top: 0;
		}
	}
	h2 {
		font-size: 24px;
		line-height: 1.5;
		@media #{$lg}{
			font-size: 28px;
		}
	}
	h3 {
		font-size: 20px;
		line-height: 1.5;
		@media #{$lg}{
			font-size: 24px;
		}
	}
	figure {
		display: block;
		padding: 0;
		margin: 24px auto;
		max-width: 100%;
		img {
			margin: 0;
		}
		figcaption {
			display: block;
			margin: 8px 0 0;
			font-size: 12px;
			color: $coal;
		}
	}
}