@font-face {
  font-family: 'poppins';
  src: url('fonts/poppins-regular.eot');
  src: url('fonts/poppins-regular.eot?#iefix') format('embedded-opentype'), url('fonts/poppins-regular.woff2') format('woff2'), url('fonts/poppins-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('fonts/poppins-bold.eot');
  src: url('fonts/poppins-bold.eot?#iefix') format('embedded-opentype'), url('fonts/poppins-bold.woff2') format('woff2'), url('fonts/poppins-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-regular.eot');
  src: url('fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('fonts/montserrat-regular.woff2') format('woff2'), url('fonts/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-bold.eot');
  src: url('fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'), url('fonts/montserrat-bold.woff2') format('woff2'), url('fonts/montserrat-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

