html {
	&[lang='th'] {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		label,
		.top-navigation li,
		.featured-content ._title,
		.page-title,
		.blog-filter-bar ul li a,
		.footer-company p,
		.footer-copyright p {
			font-family: 'prompt', arial, sans-serif;
		}
	}
	&[lang='en'] {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		label {
			font-family: 'montserrat', arial, sans-serif;
		}
	}
}

body,
.pp {
	font-family: 'poppins', arial, sans-serif;
	color: $black;
}

.lead-section-block {
	padding: 56px 0 24px;
	background-color: $white;
	text-align: center;
	@media #{$sm}{
		padding: 80px 0 4px;
	}
	@media #{$md}{
		padding: 120px 0 24px;
	}
	@media #{$lg}{
		padding: 120px 0 48px;
	}
	h1 {
		font-size: 32px;
		font-weight: bold;
		margin: 0 auto 16px;
		@extend .msr;
		@media #{$sm}{
			font-size: 40px;
		}
		@media #{$md}{
			font-size: 48px;
		}
		@media #{$lg}{
			font-size: 56px;
		}
	}
	p {
		font-size: 16px;
		margin: 0;
		@media #{$sm}{
			font-size: 18px;
			margin: 0 auto 40px;
		}
		@media #{$md}{
			font-size: 20px;
		}
		@media #{$lg}{
			font-size: 24px;
			margin: 0 auto 24px;
		}
	}
}

.main-header {
	font-size: 24px;
	text-align: center;
	margin: 0 auto 16px;
	font-weight: bold;
	@media #{$sm}{
		text-align: left;
	}
	@media #{$md}{
		font-size: 32px;
	}
	@media #{$lg}{
		font-size: 40px;
	}
}

.prompt {
	font-family: 'prompt', arial, sans-serif !important;
}

.msr {
	font-family: 'montserrat', arial, sans-serif !important;
}