html {
	&[lang='th'] {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		label,
		.top-navigation li,
		.featured-content ._title,
		.page-title,
		.blog-filter-bar ul li a,
		.footer-company p,
		.footer-copyright p,
		body.single-post .blog-title .page-title,
		.hero-block h2, h3,
		.block-header {
			font-family: 'prompt', arial, sans-serif;
		}
	}
	&[lang='en'] {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		label {
			font-family: 'montserrat', arial, sans-serif;
		}
	}
}

body,
.pp {
	font-family: 'poppins', arial, sans-serif;
	color: $black;
}

.lead-section-block {
	padding: 56px 0 24px;
	background-color: $white;
	text-align: center;
	@media #{$sm}{
		padding: 80px 0 4px;
	}
	@media #{$md}{
		padding: 120px 0 24px;
	}
	@media #{$lg}{
		padding: 120px 0 48px;
	}
	h2 {
		font-size: 32px;
		font-weight: bold;
		margin: 0 auto 16px;
		@extend .msr;
		@media #{$sm}{
			font-size: 40px;
		}
		@media #{$md}{
			font-size: 48px;
		}
		@media #{$lg}{
			font-size: 56px;
		}
	}
	p {
		font-size: 16px;
		margin: 0;
		@media #{$sm}{
			font-size: 18px;
			margin: 0 auto 40px;
		}
		@media #{$md}{
			font-size: 20px;
		}
		@media #{$lg}{
			font-size: 24px;
			margin: 0 auto 24px;
		}
	}
}

.main-header {
	font-size: 24px;
	text-align: center;
	margin: 0 auto 16px;
	font-weight: bold;
	@media #{$sm}{
		text-align: left;
	}
	@media #{$md}{
		font-size: 32px;
	}
	@media #{$lg}{
		font-size: 40px;
	}
}

.prompt {
	font-family: 'prompt', arial, sans-serif !important;
}

.msr {
	font-family: 'montserrat', arial, sans-serif !important;
}

.error-page-block{ 
	background: $black url('img/404.jpg') center center fixed;
	background-size: cover;
}

.i-facebook {
	background: url('img/mice-sprite.png') no-repeat 0 0;
	background-size: 175px 80px;
	width: 32px;
	height: 32px;
	content: '';
	display: block;
}

.i-github {
	background: url('img/mice-sprite.png') no-repeat -37px 0;
	background-size: 175px 80px;
	width: 32px;
	height: 32px;
	content: '';
	display: block;
}

.i-instagram {
	background: url('img/mice-sprite.png') no-repeat -74px 0;
	background-size: 175px 80px;
	width: 32px;
	height: 32px;
	content: '';
	display: block;
}

.i-dbd {
	background: url('img/mice-sprite.png') no-repeat 0 -46px;
	background-size: 175px 80px;
	width: 162px;
	height: 34px;
	content: '';
	display: block;
}

.i-nav-left {
	background: url('img/mice-sprite.png') no-repeat -111px 0;
	background-size: 175px 80px;
	width: 24px;
	height: 40px;
	content: '';
	display: block;
}

.i-nav-right {
	background: url('img/mice-sprite.png') no-repeat -140px 0;
	background-size: 175px 80px;
	width: 24px;
	height: 40px;
	content: '';
	display: block;
}