body {
	&.home {
		.header {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-image: none;
			&.fixed {
				position: fixed;
				background-image: linear-gradient(135deg, #2e3766 0%, #388c8f 100%);
				padding: 16px 0;
				// background-color: darken($blue, 10%);
				box-shadow: 0 2px 4px rgba(0,0,0,0.1);
			}
		}
	}
}

.header {
	padding: 24px 0;
	// padding: 32px 0;
	z-index: 999;
	background-image: linear-gradient(135deg, #2e3766 0%, #388c8f 100%);
	.container {
		position: relative;
	}
}

.logo-block {
	a {
		display: inline-block;
	}
	img {
		height: 45px;
		display: block;
	}
}

.top-navigation {
	// display: none;
	// margin: 12px 0 0;
	text-align: center;
	// margin-top: 4px;
	// text-align: right;
	// margin-top: 12px;
	height: 0;
	overflow: hidden;
	transition: all .5s linear;
	@media #{$sm} { 
		text-align: right;
		height: auto !important;
		overflow: initial !important;
	}
	&.active {
		height: auto;
		overflow: initial;
		transition: all .5s linear;
	}
	ul {
		list-style: none;
		padding: 12px 0;
		margin: 12px 0 8px;
		// padding: 0;
		// margin: 0;
		// display: none;
		background-color: rgba(255,255,255,0.97);
		border-radius: 8px;
		box-shadow: 0 12px 20px rgba(0,0,0,0.2);
		opacity: 0;
		visibility: hidden;
		transition: all .3s linear;
		@media #{$sm}{
			visibility: visible !important;
			display: block !important;
			opacity: 1 !important;
			background-color: transparent;
			box-shadow: none;
			margin: 10px 0 0;
			padding: 0;
		}
		&.active {
			// display: block;
			opacity: 1;
			visibility: visible;
			transition: all .3s linear;
			transform: translateY(4px);
		}
		li {
			display: block;
			margin: 0;
			font-size: 16px;
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: 0.3px;
			// margin: 0 16px;
			@media #{$sm}{
				display: inline-block;
				margin: 0 12px;
			}
			a {
				display: block;
				padding: 10px;
				font-weight: bold;
				color: $blue;
				@media #{$sm}{
					padding: 0 0 2px;
					color: $white;
				}
				&:hover {
					color: $orange;
				}
			}
			&.wpml-ls-item {
				background-color: transparent !important;
				display: inline-block;
				vertical-align: top;
				position: relative;
				top: 3px;
				@media #{$sm}{
					top: 2px;
				}
				img {
					width: 24px;
					height: 16px;
					display: block;
					transition: all .2s linear;
					@media #{$sm}{
						box-shadow: 0 2px 4px rgba(0,0,0,0.2);
					}
					&:hover {
						transition: all .2s linear;
						box-shadow: 0 8px 16px rgba(0,0,0,0.1);
					}
				}
				a {
					background-color: transparent;
					padding: 0;
				}
			}
			&.wpml-ls-item-th {
				margin: 8px 4px 12px 0px;
				@media #{$sm}{
					margin: 0 4px 0 12px;
				}
			}
			&.wpml-ls-item-en {
				margin: 8px 0px 12px 0px;
				@media #{$sm}{
					margin: 0 0 0 0;
				}
			}
			&.wpml-ls-current-language {
				pointer-events: none;
				img {
					opacity: 0.5;
				}
			}
		}
	}
}


.mobile-navigation-button {
	border: 2px solid $white;
	display: inline-block;
	padding: 8px;
	position: absolute;
	right: 15px;
	top: 2px;
	border-radius: 8px;
	@media #{$sm}{
		display: none !important;
	}
	.bar {
		content: ' ';
		height: 2px;
		display: block;
		margin: 0 0 6px;
		background-color: $white;
		width: 20px;
		transition: all .3s linear;
		&:last-child{
			margin-bottom: 0;
			visibility: visible;
			opacity: 1;
		}
	}	
	&.active {
		background-color: $white;
		box-shadow: 0 12px 20px rgba(0,0,0,0.2);
		.bar {
			background-color: $blue;
			&:first-child {
				transition: all .3s linear;
				transform: translateY(8px) rotate(-45deg);
			}
			&:nth-child(2) {
				transition: all .3s linear;
				transform: translateY(0px) rotate(45deg);
			}
			&:last-child{
				transition: all .15s linear;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}