body {
	&.home {
		.header {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}

.header {
	padding: 32px 0 0;
	z-index: 999;
}

.logo-block {
	img {
		height: 45px;
		display: block;
	}
}

.top-navigation {
	margin-top: 12px;
	text-align: right;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin: 0 16px;
			font-size: 16px;
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: 0.3px;
			a {
				color: $white;
				&:hover {
					color: $orange;
				}
			}
		}
	}
}