.hero-block {
	background-image: linear-gradient(135deg, #2E3766 0%, #388C8F 100%);
	padding: 200px 0 160px;
	position: relative;
	z-index: 1;
	.container {
		position: relative;
	}
	h2 {
		color: $white;
		font-weight: bold;
		font-size: 64px;
		margin: 0 0 12px;
		@extend .msr;
	}
	h3 {
		color: $white;
		margin: 0;
		font-size: 24px;
		font-weight: normal;
		@extend .msr;
	}
	.hero-image {
		width: 800px;
		max-width: 100%;
		height: auto;
		display: block;
		position: absolute;
		z-index: 2;
		top: 5px;
		right: -8px;
	}
}

.featured-block {
	margin: 0px auto 64px;
	.featured-card {
		background-color: $white;
		padding: 32px 16px;
		border-radius: 4px;
		transition: all .2s linear;
		&:hover {
			transform: translateY(-4px);
			transition: all .2s linear;
			box-shadow: 0 16px 32px -4px rgba(44,98,128,0.2);
		}
		figure {
			display: block;
			margin: 0 auto 24px; 
			padding: 0;
			position: relative;
			width: 150px;
			height: 150px;
			background-color: #EAEAEA;
			border-radius: 50em;
			img {
				display: block;
				margin: auto;
				position: absolute;
				top: 15px;
			}
			#web_animate,
			#app_animate,
			#consult_animate{
				position: absolute;
				top: 20px;
				margin: auto;
				width: 150px;
				height: 115px;
				display: block;
			}
		}
		.featured-content {
			._title {
				font-size: 24px;
				margin: 0 auto 8px;
				font-weight: normal;
				text-align: center;;
			}
			._description {
				font-size: 16px;
				line-height: 1.5;
				color: $coal;
				text-align: center;
				margin: 0;
			}
		}
	}
}

.imagery-block {
	padding: 40px 0 0;
	position: relative;
	p {
		color: $coal;
		font-size: 16px;
		margin: 0 0 32px;
	}
	.work-imagery {
		display: block;
		position: absolute;
		left: -32px;
		top: 8px
	}
	.clients-list {
		margin: 0 0 80px;
		padding: 0;
		list-style: none;
		li {
			float: left;
			width: 25%;
			margin: 0 0 8px;
			.client-image {
				display: block;
				width: 111px;
				height: 50px;
			}
		}
	}
}

.portfolio-block {
	position: relative;
	background-color: rgba(44, 98, 128, 0.98);
	position: relative;
	padding: 80px 0;
}

.portfolio-card {
	figure {
		display: block;
		margin: 0 auto 24px;
		img {
			display: block;
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(0,0,0,0.3);
			transition: all .2s linear;
			&:hover {
				position: relative;
				transition: all .2s linear;
				transform: translateY(2px);
				box-shadow: 0 12px 32px rgba(0,0,0,0.2);
			}
		}
	}
	.portfolio-content {
		._title {
			font-weight: bold;
			font-size: 20px;
			color: $white;
			margin: 0 0 8px;
		}
		._category {
			color: $soft-grey;
			margin: 0 0 4px;
		}
		._link {
			color: $orange;
			font-size: 12px;
			margin: 0;
		}
	}
}

.portfolio-card.invert {
	figure {
		margin: 24px auto 0;
		img {
			&:hover {
				transform: translateY(-2px);
			}
		}
	}
}

.testimonial-block {
	padding: 80px 0 40px;
	.main-header {
		text-align: center;
		margin-bottom: 32px;
	}
}

.testimonial-card {
	display: block;
	margin: 0 auto 40px;
	border-radius: 4px;
	background-color: $white;
	border: 1px solid $bd;
	transition: all .2s linear;
	&:hover {
		box-shadow: 0 16px 32px 0 rgba(44,98,128,0.1);
		transform: translateY(-4px);
		transition: all .2s linear;
		border: 1px solid transparent;
	}
	.content {
		padding: 24px 16px;
		margin: 0 140px 0 0;
		._name {
			font-size: 16px;
			margin: 0 0 4px;
			font-weight: bold;
		}
		._title {
			font-size: 12px;
			color: $grey;
			margin: 0 0 24px;
		}
		._description {
			color: $coal;
			font-size: 14px;
			line-height: 1.6;
		}
	}
	img {
		display: block;
		float: right;
		border-radius: 0 4px 4px 0;
	}
}

.about-block {
	padding: 40px 0 0;
	background-color: $white;
	position: relative;
	.main-header {
		margin-bottom: 24px;
	}
	.about-image {
		position: relative;
		right: -32px;
	}
	p {
		font-size: 20px;
		line-height: 1.6;
		color: $coal;
		margin: 0 0 32px;
	}
	blockquote.quote {
		max-width: 470px;
		border: 0;
		padding: 16px 32px;
		margin: 0 0 8px;
		color: $coal;
		font-size: 20px;
		text-align: center;
		position: relative;
		&:before {
			content: '“';
			position: absolute;
			font-size: 120px;
			font-family: 'poppins';
			color: $soft-grey;
			top: -24px;
			left: 0px;
		}
		&:after {
			content: '”';
			position: absolute;
			font-size: 120px;
			font-family: 'poppins';
			color: $soft-grey;
			top: -24px;
			right: 0px;
		}
	}
	.quote-by {
		text-align: center;
		color: #939A9E;
		padding: 0;
		margin: 0 0 0 -12px;
		font-size: 16px;
		max-width: 470px;
	}
}

.map-block{
	#map-canvas {
		height: 535px;
		width: 55%;
		position: relative;
		float: left;
		border: 1px solid $bd;
		border-width: 1px 1px 0 0;
	}
	.map-contact {
		max-width: 480px;
		float: left;
		width: 45%;
		padding: 64px 32px;
	}
	.main-header {
		margin: 0 0 32px;
	}
	p {
		font-size: 24px;
		color: $coal;
		line-height: 1.5;
		margin: 0 0 32px;
	}
	.contact-list {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			font-size: 20px;
			color: $coal;
			margin: 0 0 8px;
		}
	}
	.social-list {
		padding: 0;
		margin: 0 0 8px;
		list-style: none;
		li {
			display: inline-block;
			margin: 0 2px;
			padding: 0;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			a {
				display: block;
			}
			img {
				width: 32px;
				height: 32px;
				display: block;
			}
		}
	}
	.addon-button-list {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-right: 8px;
			&:last-child {
				margin-right: 0;
			}
			img {
				height: 40px;
				display: block;
			}
		}
	}
}