$blue: #2C6280;
$orange: #eca040;

$white: #FFFFFF;
$black: #4E5356;
$coal: #5D6E77;
$grey: #939A9E;
$soft-grey: #C6D0D6;

$bd: #EDEDED;
$bg: #F7F9FA;

$sm: "screen and (min-width: 768px)";
$md: "screen and (min-width: 992px)";
$lg: "screen and (min-width: 1200px)";